{% extends 'base.html.twig' %}

{% block body %}
    <div class="container col-sm-12">
    <h1>Dodaj nowe stanowisko</h1>
<div class="col-sm-4">
    {{ form_start(form, {'attr': {'class': 'jumbotron'} }) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('structure_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
